build/*
*.xml
*.mf
nbproject/*
test/*
/dist/
.DS_Store                                                                                                                               
src/.DS_Store
participant_data/*.csv
participant_data/*.txt